<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Welcome to IT Passport (v1.1.3b)</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <ion-card style="background: #fff">
    <ion-item>
      <img src="/assets/logo.svg" style="width:40px">
      <ion-label style="margin-left:12px;">Login</ion-label>
    </ion-item>
    <ion-card-content>
      <ion-item>
        <ion-label position="floating">
          <ion-icon name="mail"></ion-icon>
          Email
        </ion-label>
        <ion-textarea [(ngModel)]="email"></ion-textarea>
      </ion-item>
      <ion-item>
        <ion-label position="floating">
          <ion-icon name="lock"></ion-icon>
          Password
        </ion-label>
        <ion-input type="password" [(ngModel)]="password"></ion-input>
      </ion-item>
      <ion-item style="margin-top:10px; width: 100%;">
        <ion-label>Login automatically</ion-label>
        <ion-checkbox (ionChange)="setAutoLogin($event)">
        </ion-checkbox>
      </ion-item>
      <ion-grid>
        <ion-row>
          <ion-col>
            <div>
              <ion-button color="primary" style="margin-top:10px; width: 100%;" (click)="login()"
                *ngIf="!isObsoleted()">
                Login</ion-button>
            </div>
          </ion-col>
          <ion-col>
            <div>
              <ion-button color="primary" style="margin-top:10px; width: 100%;" [routerLink]="'/sign-up'"
                *ngIf="!isObsoleted()">Sign
                Up</ion-button>
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <div>
              <ion-button color="light" style="margin-top:10px; width: 100%;" (click)="loginWithGoogle()"
                *ngIf="!isObsoleted()">
                <img style="width: 20px;"
                  src="https://cdn4.iconfinder.com/data/icons/new-google-logo-2015/400/new-google-favicon-512.png" />
                Login with Google
              </ion-button>
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <div>
              <ion-button color="light" style="margin-top:10px; width: 100%;" (click)="forgotPassword()"
                *ngIf="!isObsoleted()">
                I forgot my password
              </ion-button>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>