<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="welcome">
      <ion-icon name="hand"></ion-icon>
      <ion-label>Welcome</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="account">
      <ion-icon name="contact"></ion-icon>
      <ion-label>Account</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="training" *ngIf="!isInactivated()">
      <ion-icon name="flash"></ion-icon>
      <ion-label>Training</ion-label>
    </ion-tab-button>


    <ion-tab-button tab="challenge" *ngIf="!isInactivated()">
      <ion-icon name="apps"></ion-icon>
      <ion-label>Challenge</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>