<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Training</ion-title>
    <ion-button *ngIf="allowStart" slot="secondary" color="light">Start</ion-button>
  </ion-toolbar>
  <ion-progress-bar [value]="loadingPercent"></ion-progress-bar>
</ion-header>

<ion-content padding>
  <ion-card class="cat-card" *ngFor="let majorCat of majorCatList | async; let i = index;">
    <ion-img *ngIf="majorCat.img!==undefined" [src]="majorCat.img"></ion-img>
    <ion-card-header>
      <ion-card-title>{{majorCat.title}}</ion-card-title>
    </ion-card-header>

    <ion-item>
      <ion-button fill="outline" slot="end">Info</ion-button>
      <ion-button fill="outline" slot="end">Progress</ion-button>
    </ion-item>

    <ion-card-content>
      <ion-item>
        <ion-list>
          <ng-container *ngFor="let minorCat of minorCatList[i] | async">
            <ion-item *ngIf="minorCat.title !== undefined">
              <ion-label>{{minorCat.title}}</ion-label>
              <ion-checkbox slot="start" style="margin-right:10px;"></ion-checkbox>
            </ion-item>
          </ng-container>
        </ion-list>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>