<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Challenge</ion-title>
    <ion-buttons slot="end">
      <ion-button>Back</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid *ngIf="challenges != undefined">
    <ion-row *ngFor="let challenge of challenges">
      <ion-col>
        <ion-card>
          <ion-card>
            <ion-card-header>
              <ion-item>
                <ion-card-title>
                  challenge['title']
                </ion-card-title>
                <ion-card-subtitle>
                  challenge['description']
                </ion-card-subtitle>
                </ion-item>
            </ion-card-header>
            <ion-card-content>
              
            </ion-card-content>
          </ion-card>
        </ion-card>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>